<% content_for :title, "新規登録" %>

<div class="p-4 flex-grow">
  <h2 class="text-center font-bold text-xl">新規登録</h2>

  <div class="flex justify-center items-center">
    <div class="p-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "w-full" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field mb-4 text-center">
          <%= f.label :name, "名前" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "w-full input input-bordered" %>
        </div>

        <div class="field mb-4 text-center">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full input input-bordered" %>
        </div>

        <div class="field mb-4 text-center">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "w-full input input-bordered" %>
        </div>

        <div class="field mb-4 text-center">
          <%= f.label :password_confirmation, "パスワード確認" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full input input-bordered" %>
        </div>

        <div class="actions text-center">
          <%= f.submit "登録", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="text-center mt-4">
    <%= render "devise/shared/links" %>
  </div>
</div>
