<div id="<%= dom_id habit %>">
  <p>
    <strong>User:</strong>
    <%= habit.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= habit.name %>
  </p>

  <p>
    <strong>Target date:</strong>
    <%= habit.target_date %>
  </p>

  <p>
    <strong>Target frequency:</strong>
    <%= habit.target_frequency %>
  </p>

  <p>
    <strong>Target volume:</strong>
    <%= habit.target_volume %>
  </p>

</div>
