<p style="color: green"><%= notice %></p>

<%= render @habit %>

<div>
  <%= link_to "Edit this habit", edit_habit_path(@habit) %> |
  <%= link_to "Back to habits", habits_path %>

  <%= button_to "Destroy this habit", @habit, method: :delete %>
</div>
