<!DOCTYPE html>
<html data-theme="nord">
  <head>
    <title><%= content_for(:title) || "Step By Step" %></title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag('favicon.ico') %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render 'shared/header' %>
    <%= render 'layouts/flash_messages' %>
    <div class="flex-grow">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service_worker.js')
          .then((registration) => {
            console.log('Service Worker registered:', registration);
          })
          .catch((error) => {
            console.error('Service Worker registration failed:', error);
          });
      });
    }
  </script>
</html>
